.topbarSection {
  height: 50px;
  background: #263358;

  .contactInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    li {
      span {
        margin-right: 10px;
      }

      a {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;
        transition: color 0.3s ease;

        &:hover {
          transition: color 0.3s ease;
          color: rgba(255, 255, 255, 0.5);
        }
      }

      &:last-child {
        background: #fff;
        height: 35px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 50px;
        padding: 0px 20px;

        span {
          margin-right: 10px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #263358;
        }

        a {
          font-weight: 600;
          color: #263358;
          transition: color 0.3s ease;

          &:hover {
            transition: color 0.3s ease;
            color: #ca0101;
          }
        }
      }
    }
  }

  .socailInfo {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li {
      a {
        transition: color 0.3s ease;

        &:hover {
          transition: color 0.3s ease;

          svg {
            circle {
              fill: #ca0101;
            }

            path {
              fill: #fff;
            }
          }
        }
      }
    }
  }

  .sidePanel {
    z-index: 99;
    width: 60px;
    height: auto;
    position: fixed;
    top: 210px;
    right: 40px;
    display: flex;
    flex-direction: column;

    .panelItem {
      position: relative;
      margin-bottom: 10px;

      a,
      div {
        .panelIcon {
          width: 60px;
          height: 60px;
          border-radius: 100%;
          background: #ca0101;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            width: auto;
            height: 25px;
          }
        }

        span {
          background: #263358;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0px, -50%);
          font-size: 13px;
          color: #fff;
          line-height: 13px;
          text-align: center;
          border-radius: 100px;
          padding: 0px 20px;
          opacity: 0;
          transition: all 0.35s ease;
          white-space: nowrap;
        }
      }

      &:hover {
        .panelIcon {
          background: #263358;
        }


        span {
          opacity: 1;
          visibility: visible;
          transform: translate(-65px, -50%);

        }
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .topbarSection {
    display: none;
  }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
  .topbarSection {
    display: none;
  }
}