body {
  &.active {
    overflow: hidden;

    &::after {
      content: "";
      background: rgba(0, 0, 0, 0.35);
      backdrop-filter: blur(7.5px);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 60px;
      left: 0px;
      z-index: 2;
    }
  }

  .SideBar {
    .modal-lg {
      --bs-modal-width: 1200px;
    }

    .react-calendar {
      position: relative;
      z-index: 2;

      .react-calendar__navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;

        button {
          border: 0px;
          background: transparent;
          flex: 0 0 auto;
          font-size: 30px;
          font-weight: 300;
          padding: 0px 10px;
          height: 100%;
          color: #c9c9c9;
          min-width: 50px;

          &:nth-child(3) {
            font-weight: 600;
            font-size: 16px;
            color: #333;
          }

          &:hover {
            color: #ff0004;
          }
        }
      }

      .react-calendar__month-view__weekdays {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        color: #333;

        abbr {
          text-decoration: none;
        }
      }

      .react-calendar__decade-view__years {
        gap: 2px;

        .react-calendar__decade-view__years__year {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 70px;
          border: 1px solid #e6e6e6;
          text-align: center;
          font-weight: 600;
          font-size: 12px;
          color: #333;
          background: #f3f3f3;
          border-radius: 100%;
          height: 100px;
          flex-basis: calc(100% / 4 - 5px) !important;
          margin-bottom: 5px;

          &.react-calendar__tile--now {
            position: relative;

            &::after {
              content: "";
              background: #ff0004;
              width: 8px;
              height: 8px;
              border-radius: 100%;
              position: absolute;
              bottom: 10px;
            }
          }

          &:hover {
            background: #ff0004;
            color: #fff;

            &:disabled {
              color: #333;
              background: #fff;
            }
          }
        }
      }

      .react-calendar__year-view__months {
        justify-content: space-between;

        .react-calendar__year-view__months__month {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 70px;
          border: 1px solid #e6e6e6;
          text-align: center;
          font-weight: 600;
          font-size: 12px;
          color: #333;
          background: #f3f3f3;
          border-radius: 100%;
          height: 100px;
          flex-basis: calc(100% / 4 - 5px) !important;
          margin-bottom: 5px;

          &.react-calendar__tile--now {
            position: relative;

            &::after {
              content: "";
              background: #ff0004;
              width: 8px;
              height: 8px;
              border-radius: 100%;
              position: absolute;
              bottom: 10px;
            }
          }

          &:hover {
            background: #ff0004;
            color: #fff;

            &:disabled {
              color: #333;
              background: #fff;
            }
          }
        }
      }

      .react-calendar__month-view__days {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-weight: 600;
        font-size: 15px;
        color: #333;
        gap: 2px;

        button {
          border: 1px solid #e6e6e6;
          background: transparent;
          flex-basis: calc(100% / 7 - 5px) !important;
          font-size: 13px;
          font-weight: 600;
          padding: 0px 10px;
          background: #f3f3f3;
          border-radius: 100%;
          margin-bottom: 5px;
          height: 58px;


          &:disabled {
            background: transparent;
          }

          &.react-calendar__tile--now {
            position: relative;

            &::after {
              content: "";
              background: #ff0004;
              width: 8px;
              height: 8px;
              border-radius: 100%;
              position: absolute;
              bottom: 5px;
              left: 50%;
              transform: translate(-50%, -2px);
            }

            &.react-calendar__tile--active {
              &:enabled:focus {
                &::after {
                  content: "";
                  background: #fff;
                }
              }
            }
          }

          &:enabled:hover {
            background: rgb(255 0 4 / 20%);
            color: #000;
          }

          &.react-calendar__tile--active {
            &:enabled:focus {
              background: #ff0004;
              color: #fff;
            }
          }
        }
      }
    }
  }

  .container {
    max-width: 1500px;
  }

  .navIcon {
    display: none;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .pt-100 {
    padding-top: 100px;
  }

  .pb-100 {
    padding-bottom: 100px;
  }

  .p-100 {
    padding: 100px 0px;
  }

  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 15px;

    span {
      font-weight: 400;
    }
  }

  h2 {
    font-style: normal;
    font-size: 55px;
    line-height: 65px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 15px;

    span {
      font-weight: 400;
    }
  }

  h3 {
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 15px;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 15px;
  }

  .divContent {
    ul {
      margin-left: 15px;
      margin-bottom: 20px;

      li {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #000000;
        margin-bottom: 10px;
        position: relative;

        &::after {
          content: "";
          width: 10px;
          height: 10px;
          background: #ca0101;
          position: absolute;
          left: -20px;
          top: 10px;
          border-radius: 100%;
        }
      }
    }

    &.whiteColor {
      ul {
        li {
          color: #fff;
        }
      }
    }
  }

  .subtitle {
    width: auto;
    height: 60px;
    background: #ca01013a;
    border-radius: 100px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.241964px;
    color: #ca0101;
    text-align: center;
    padding: 0px 30px;
    margin-bottom: 20px;
  }

  .blogImage {
    position: relative;
    height: 500px;
    margin: 20px 0px;

    img {
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  body {
    .container {
      max-width: 1300px;
    }

    .pt-100 {
      padding-top: 80px;
    }

    .pb-100 {
      padding-bottom: 80px;
    }

    .p-100 {
      padding: 80px 0px;
    }

    h1 {
      font-size: 60px;
      line-height: 70px;
      margin-bottom: 15px;
    }

    h2 {
      font-size: 45px;
      line-height: 55px;
      margin-bottom: 15px;
    }

    h3 {
      font-size: 35px;
      line-height: 45px;
      margin-bottom: 15px;
    }

    p {
      font-size: 17px;
      line-height: 25px;
      margin-bottom: 15px;
    }

    .divContent {
      ul {
        margin-left: 15px;
        margin-bottom: 20px;

        li {
          font-size: 17px;
          line-height: 25px;

          &::after {
            width: 10px;
            height: 10px;
            left: -20px;
            top: 10px;
          }
        }
      }
    }
  }

  .subtitle {
    height: 55px;
    font-size: 18px;
    line-height: 24px;
    padding: 0px 30px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  body {
    .container {
      max-width: 1200px;
    }

    .pt-100 {
      padding-top: 70px;
    }

    .pb-100 {
      padding-bottom: 70px;
    }

    .p-100 {
      padding: 70px 0px;
    }

    h1 {
      font-size: 55px;
      line-height: 65px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 35px;
      line-height: 45px;
      margin-bottom: 20px;
    }

    p {
      font-size: 17px;
      line-height: 25px;
      margin-bottom: 15px;
    }

    .divContent {
      ul {
        margin-left: 15px;
        margin-bottom: 20px;

        li {
          font-size: 17px;
          line-height: 25px;

          &::after {
            width: 10px;
            height: 10px;
            left: -20px;
            top: 10px;
          }
        }
      }
    }
  }

  .subtitle {
    height: 50px;
    font-size: 16px;
    line-height: 23px;
    padding: 0px 25px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  body {
    .container {
      max-width: 1150px;
    }

    .pt-100 {
      padding-top: 60px;
    }

    .pb-100 {
      padding-bottom: 60px;
    }

    .p-100 {
      padding: 60px 0px;
    }

    h1 {
      font-size: 55px;
      line-height: 65px;
      margin-bottom: 15px;
    }

    h2 {
      font-size: 38px;
      line-height: 45px;
      margin-bottom: 15px;
    }

    h3 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 15px;
    }

    .divContent {
      ul {
        margin-left: 15px;
        margin-bottom: 20px;

        li {
          font-size: 16px;
          line-height: 24px;

          &::after {
            width: 10px;
            height: 10px;
            left: -20px;
            top: 10px;
          }
        }
      }
    }
  }

  .subtitle {
    height: 45px;
    font-size: 15px;
    line-height: 23px;
    padding: 0px 25px;
    margin-bottom: 15px;
    font-weight: 500;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  body {
    .container {
      max-width: 95%;
    }

    .pt-100 {
      padding-top: 50px;
    }

    .pb-100 {
      padding-bottom: 50px;
    }

    .p-100 {
      padding: 50px 0px;
    }

    h1 {
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 15px;
    }

    h2 {
      font-size: 35px;
      line-height: 45px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 26px;
      line-height: 34px;
      margin-bottom: 15px;
    }

    p {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 15px;
    }

    .divContent {
      ul {
        margin-left: 15px;
        margin-bottom: 20px;

        li {
          font-size: 15px;
          line-height: 22px;

          &::after {
            width: 10px;
            height: 10px;
            left: -20px;
            top: 10px;
          }
        }
      }
    }
  }

  .subtitle {
    height: 35px;
    font-size: 14px;
    line-height: 20px;
    padding: 0px 25px;
    margin-bottom: 15px;
    font-weight: 500;
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  body {
    .container {
      max-width: 98%;
    }

    .pt-100 {
      padding-top: 50px;
    }

    .pb-100 {
      padding-bottom: 50px;
    }

    .p-100 {
      padding: 50px 0px;
    }

    h1 {
      font-size: 40px;
      line-height: 45px;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 26px;
      line-height: 34px;
      margin-bottom: 15px;
    }

    p {
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 10px;
    }

    .divContent {
      ul {
        margin-left: 15px;
        margin-bottom: 20px;

        li {
          font-size: 15px;
          line-height: 22px;

          &::after {
            width: 10px;
            height: 10px;
            left: -20px;
            top: 10px;
          }
        }
      }
    }
  }

  .subtitle {
    height: 32px;
    font-size: 13px;
    line-height: 20px;
    padding: 0px 25px;
    margin-bottom: 15px;
    font-weight: 500;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  body {
    .container {
      max-width: 98%;
    }

    .pt-100 {
      padding-top: 50px;
    }

    .pb-100 {
      padding-bottom: 50px;
    }

    .p-100 {
      padding: 50px 0px;
    }

    h1 {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 15px;
    }

    h2 {
      font-size: 35px;
      line-height: 45px;
      margin-bottom: 15px;
    }

    h3 {
      font-size: 26px;
      line-height: 34px;
      margin-bottom: 15px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 15px;
    }

    .divContent {
      ul {
        margin-left: 15px;
        margin-bottom: 20px;

        li {
          font-size: 15px;
          line-height: 22px;

          &::after {
            width: 10px;
            height: 10px;
            left: -20px;
            top: 10px;
          }
        }
      }
    }
  }

  .subtitle {
    height: 30px;
    font-size: 13px;
    line-height: 20px;
    padding: 0px 20px;
    margin-bottom: 15px;
    font-weight: 500;
  }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
  body {
    .container {
      max-width: 100%;
    }

    .pt-100 {
      padding-top: 25px;
    }

    .pb-100 {
      padding-bottom: 25px;
    }

    .p-100 {
      padding: 25px 0px;
    }

    h1 {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 15px;
    }

    .divContent {
      ul {
        margin-left: 15px;
        margin-bottom: 20px;

        li {
          font-size: 15px;
          line-height: 22px;

          &::after {
            width: 10px;
            height: 10px;
            left: -20px;
            top: 10px;
          }
        }
      }
    }

    .navIcon {
      z-index: 99;
      justify-content: flex-end;
      display: flex;
      position: relative;

      svg {
        width: 30px;
        height: auto;
      }
    }
  }

  .subtitle {
    height: 30px;
    font-size: 13px;
    line-height: 20px;
    padding: 0px 20px;
    margin-bottom: 15px;
    font-weight: 500;
  }
}