.contactWapper {
    padding: 25px;

    .calendarForm {
        flex: 0 0 70%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;

        input {
            flex: 0 0 calc(50% - 5px);
            height: 50px;
            color: #263358;
            border-radius: 5px;
            margin-bottom: 5px;
            padding-left: 10px;
            border: 1px solid #263358;
            outline: none;
            font-size: 14px;
        }


        select {
            flex: 0 0 calc(50% - 5px);
            height: 50px;
            color: #263358;
            border-radius: 5px;
            margin-bottom: 5px;
            border: 1px solid #263358;
            outline: none;
            padding-left: 10px;
            font-size: 14px;
        }

        textarea {
            width: 100%;
            height: 100px;
            color: #263358;
            border-radius: 5px;
            margin-bottom: 5px;
            border: 1px solid #263358;
            padding: 10px 0px 0px 10px;
            outline: none;
            font-size: 14px;
        }

        p {
            width: 100%;
            text-align: left;
            font-size: 14px;
            margin-bottom: 5px;
            line-height: 20px;
        }

        button {
            width: 100%;
            height: 50px;
            background: #263358;
            border-radius: 5px;
            color: #fff;
            border: 0px;
            flex: 0 0 calc(50% - 10px);
        }
    }
}